[Unit]
Description=Fitnesse as a Service
[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/fitnesse
ExecStart=/bin/bash /home/ec2-user/fitnesse/fitnesse.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
